
<div class="waterfall">
	<div class="st">
		<p>【风景】养在深闺人未识——漓江黄姚古镇。</p>
		<div class="picture">
		<span><%= image_tag "sucai/lijiang.jpg" ,style:"max-width:100px;"%></span>
		<div class="time">12月01日21:33</time>
	</div>
	
	<div class="st">
		<p>【风景】岁月斑驳，你的世界始终没有我......</p>
		<div class="picture">
		<span><%= image_tag "sucai/suiyue.jpg" ,style:"max-width:100px;"%></span>
		<div class="time">12月02日01:51</time>
	</div>
	<div class="st">
		<p>【分享】你不能决定生命的长度，但你可以控制它的宽度。</p>
		<div class="picture">
		<span><%= image_tag "sucai/length_of_life.jpg" ,style:"max-width:100px;"%></span>
		<div class="time">12月02日13:18</time>
	</div>
	<div class="st">
		<p>【风景】人生若只如初见，何事秋风悲画扇？</p>
		<div class="picture">
		<span><%= image_tag "sucai/chujian.jpg" ,style:"max-width:100px;"%></span>
		<div class="time">12月02日20:04</time>
	</div>
</div>

