<div class="home">
  <table><td>
    <div class="content">
      <div class="text">
	用微博记录点滴生活<br />
	用书籍见证成长历程
      </div>
      <div class="login">
	<% if sign_in? %><a href="books/new" class="login_button">New book</a><% else %><a href="/signin" class="login_button">login</a><% end %></div>
	  <div>
	  </div></td><td class="img">
	    <div class="img_1">
	      <a href=""><%= image_tag "sucai/7.jpg"%></a>
	    </div>
	    <div class="img_2">
	      <a href=""><%= image_tag "sucai/10.jpg"%></a>
	    </div>
	    <div class="img_3">
	      <a href=""><%= image_tag "sucai/12.jpg"%></a>
	    </div>
	  </td></table>
    </div>


