// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.content {
    /* text-align:center; */
}
.timestamp {
    color: gray;
}
.template{
    margin-top: 20px;
    width: 100%;
    text-align: center;
    .name { font-size: 20px; margin-top: 20px; }
}
.time{
    font-size: 20px;
    font-weight: bold;
    margin-top:30px;
    select {width:120px;}
}
.submit {
    text-align: center;
    input { 
	background: green;
	color: white;
	font-size: 30px;
	border-radius: 5px;
    }
}
.button {
    height: 40px;
    display: inline-block;
    border-radius: 5px;
    background: green;
    padding-top : 5px;
    text-align:center;
    line-height:250%;
    a {color: white; font-size: 30px;margin:5px 5px 5px 5px; }
    a:hover{ text-decoration: none; color: white; }
}
.select{
    height:500px;
    overflow:auto;
}/*
.show_tag
{   height:200px;
    background-color:none;
     position:relative;
    .tag_addr{width:100%;}
    .tag_down{
        position:relative;
        margin-top:-75px;
       // float:left;
        margin-left:170px;
    }
    .tag_share{
        position:relative;
        margin-top:-75px;
       // float:left;
        margin-left:320px;
    }
}*/


