.page-break { display:block; clear:both; page-break-after:always; }
.blank { width: 100%; height: 80mm; }
.title_page { 
    .date {
	font-size: 8mm;
	margin-top: 60mm;
	.year { }
	.month { color: red; font-size: 15mm }
    }
    .book_title {
	position: relative;
	font-weight: bold;
	font-size: 10mm;
    }
    .poetry { 
	color: gray;
	font-size: 5mm;
	font-style: italic;
	text-indent: 10mm;
    }
}

.inner-page {
    padding-right: 10px;
    padding-left: 80mm;
    padding-top: 80mm;
    text-align: right;
    .avatar {
	border-radius: 50px;
	display: inline-block;
    }
    .screen_name { 
	padding: 5px 0 0 0;
	border-bottom: 2px dashed #eaeaea;
    }
    .period { 
	padding: 5px 0 0 0;
	border-bottom: 2px dashed #eaeaea;
    }
}

.chapter-title-page {
    width: 100%;
    height: 183mm;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: right;
    .chapter-year { font-size: 30px; padding-right: 20px; }    
    .chapter-month { font-size: 50px; padding-right: 20px; }
    .chapter-poetry { font-size: 15px; padding-right: 20px; }
}

.content{
    .one_status{
	padding: 30px 0 5px 0;
        clear:both;
        overflow:hidden;
    }

    .timestamp {
        background-color:#eeeeee;
        font-size:5mm;
	overflow: hidden;
	.day {
	    font-size: 7mm;
	    color:white;
	}
	.time {	padding: 2mm 5px 0 5px; }
    }
    .status-content {
	background: #eeeeee;
	overflow: hidden;
	margin-top: 5px;
	.text{ text-indent:2em; padding: 5px 5px 5px 5px; }
    }

    table,td{
        width: 100%;
        page-break-inside: avoid;
    }
}
