// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.major{
    width: 800px;
    height: 400px;
    margin-left:30px;
}
.right{
    width: 200px; 
    height: 400px; 
    margin-left:30px;
    position: relative;
    left: 850px;
    top: -400px;
}
.home{
    .content{
	margin-top:100px;
	width:470px;
	height:350px;
	background-color:none;
	.text {
	    text-align: center;
	    font-size: 30px;
	    text-indent: 120px;
	    line-height: 150%;
	}
	pre{
	    font-size:30px;
	    background:#fff;
	    opacity:0.9;
	    filter:alpha(opacity=40);
	}
	pre:first-letter{
	    font-size:40px;
	}
	.login{
		margin-top:50px;
		padding-bottom:30px;
		.login_button{ 
		    text-align:center;
		    width: auto;
		    height: 40px;
		    background: #7766ff;
		    color: #ffffff;
		    position: absolute;
		    font-weight: bold;
		    font: bold 12px  Arial;
		    padding:10px ;
		    padding-bottom:0px;
		    -webkit-animation: login_movie 5s 1;
		    animation: login_movie 5s 1;
		    -webkit-border-radius: 7px;
		    font-size:25px;
		}
	}
	a:hover{ text-decoration: none; }
    }
    img{width:180px;}
    .img{
	position:absolute;
	padding-left:50px;
	padding-top:80px;
	width:400px;
	background:none;
	.img_1{
	    position:absolute;
	    margin-left:160px;
	    z-index:1;
	    opacity:0.8;
	    filter:alpha(opacity=80);
	    border:1px solid gray;
	    -webkit-transition:margin 0.5s;
	    transition:margin 0.5s;
	}
	.img_2{
	    position:absolute;
	    margin-top:70px;
	    margin-left:100px;
	    z-index:2;
	    opacity:0.8;
	    filter:alpha(opacity=80);
	    border-color:white;
	    border:1px solid gray;
	    -webkit-transition:margin 0.5s;
	    transition:margin 0.5s;
	}
	.img_3{
	    position:absolute;
	    margin-top:140px;
	    margin-left:40px;
	    z-index:3;
	    opacity:0.8;
	    filter:alpha(opacity=80);
	    border:1px solid gray;
	    -webkit-transition:margin 0.5s;
	    transition:margin 0.5s;
	}
	.img_1:hover{opacity:1.0;
		     filter:alpha(opacity=100);
		     z-index:4;
		     margin-left:140px;
		     margin-top:-10px;
		     border-color:green;img{width:230px;}
		    }
	.img_2:hover{opacity:1.0;
		     filter:alpha(opacity=100);
		     z-index:4;
		     margin-left:80px;
		     margin-top:60px;
		     border-color:green;img{width:230px;}
		    }
	.img_3:hover{opacity:1.0;
		     filter:alpha(opacity=100);
		     z-index:4;
		     margin-left:20px;
		     margin-top:130px;
		     border-color:green;img{width:230px;}
		    }
    }
}
@keyframes login_movie{
    0%{-webkit-transform: rotate(0deg);margin-left:0px;}
    25%{-webkit-transform: rotate( 20deg);margin-left:0px;}
    50%{-webkit-transform: rotate(0deg);margin-left:400px;}
    55%{-webkit-transform: rotate(0deg);margin-left:400px;}
    70%{-webkit-transform: rotate(0deg);margin-left:400px;background:#1ec7e6;}
    100%{-webkit-transform: rotate(-360deg);margin-left:0px;}

    0%{transform: rotate(0deg);margin-left:0px;}
    25%{transform: rotate( 20deg);margin-left:0px;}
    50%{transform: rotate(0deg);margin-left:400px;}
    55%{transform: rotate(0deg);margin-left:400px;}
    70%{transform: rotate(0deg);margin-left:400px;background:#1ec7e6;}
    100%{transform: rotate(-360deg);margin-left:0px;}
}
@-webkit-keyframes login_movie
{
    0%{transform: rotate(0deg);margin-left:0px;}
    25%{transform: rotate( 20deg);margin-left:0px;}
    50%{transform: rotate(0deg);margin-left:400px;}
    55%{transform: rotate(0deg);margin-left:400px;}
    70%{transform: rotate(0deg);margin-left:400px;background:#1ec7e6;}
    100%{transform: rotate(-360deg);margin-left:0px;}

    0%{-webkit-transform: rotate(0deg);margin-left:0px;}
    25%{-webkit-transform: rotate( 20deg);margin-left:0px;}
    50%{-webkit-transform: rotate(0deg);margin-left:400px;}
    55%{-webkit-transform: rotate(0deg);margin-left:400px;}
    70%{-webkit-transform: rotate(0deg);margin-left:400px;background:#1ec7e6;}
    100%{-webkit-transform: rotate(-360deg);margin-left:0px;}
}

