.page-break { display:block; clear:both; page-break-after:always; }
.title_page { 
    .date {
	font-size: 10mm;
	margin-top: 60mm;
	.year { }
	.month { color: red; font-size: 15mm }
    }
    .book_title {
	position: relative;
	font-weight: bold;
	font-size: 10mm;
    }
    .poetry { color: gray; font-size: 5mm; font-style: italic; }
}
.contant{
	
	 p:first-letter 
	{
	color: #ff0033;
	font-size:xx-large;
	}
	p{
	margin-top:-3mm;
	text-align: top;
	background-color:#f9f9f9;
	height:100%;
	}
	span :before{
	}
	.status{
	margin-top:1mm;
	border-top:0.5mm dotted #dddddd;
	background-color:#fcfcfc;
	filter:alpha(opacity=50); 
	}
	table {
		width: 100%;
		page-break-inside: avoid;
	}
	td{
		width: 50%;
		vertical-align: top;
		page-break-inside: avoid ;
	}
	.timestamp{
		text-align:right;
		background-color:#eeeeee;
		font-size:2mm;
		color:#343434;
		width:60mm;
	}
}

