.page-break { display:block; clear:both; page-break-after:always; }
.title_page { 
    .date {
	font-size: 10mm;
	margin-top: 60mm;
	.year { }
	.month { color: red; font-size: 15mm }
    }
    .book_title {
	position: relative;
	font-weight: bold;
	font-size: 10mm;
    }
    .poetry { color: gray; font-size: 5mm; font-style: italic; }
}
.contant{
	//background-color:#f3f3f3;
	.test{.status{-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
	
		width:60mm;
		padding-top:1mm;
		margin-left:5mm;
		margin-top:3mm;
		border-top:0.5mm dotted #dddddd;
		background-color:#fcfcfc;
		filter:alpha(opacity=50); 
		 p.text:first-letter 
		{
			color: #ff0033;
			font-size:x-large;
		}
		p{
			font-size:3mm;
			background-color:#f9f9f9;
			height:100%;
			width:60mm;
			word-wrap:break-word;
		}
		.timestamp{
			margin-top:2mm;
			text-align:right;
			background-color:#eeeeee;
			font-size:2mm;
			color:#343434;
			width:60mm;
		}
	
		.retweeted_status{
			width:60mm;
			//p.ret_user{background-color:#eeeeee;}
			background-color:#eeeeee;
			.S_line1_c{margin-left:3mm;margin-top:-3mm;color:#eeeeee;position:absolute;}
			.ret_status{width:60mm;}
		}
	}
	table {
		width: 100%;
		page-break-inside: avoid;
	}
	td{
		width: 50%;
		vertical-align: top;
		page-break-inside: avoid ;
	}
	}
}

