  <footer class="footer">
    <small>
      <%= link_to "微博书", root_path %>	by HIT-wave
    </small>
    <nav>
      <ul>
	<li><%= link_to "About",  about_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
	<li><%= link_to "Help", help_path %></li>
      </ul>

<!-- http://www.shareto.com.cn/index.html -->
<!-- ShareTo Button BEGIN -->
<script type="text/javascript" src="http://s.shareto.com.cn/js/shareto_float.js#color=0&align=right&move=0" charset="utf-8"></script> 
<!-- ShareTo Button END -->

    </nav>
  </footer>
